.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
}

td {
  padding: 15px;
  background: #333333;
  color: #333333;
}

.test td{
  color: white;
}


td.clicked{
  background: #999999;
  color: white;
}

.mines.clicked{
  padding: 0 !important;
  background-image: url("mines1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
}



.mines img{
  width: 2rem;
  background: transparent;
}